<center>
<img src="../../img/ods_stickers.jpg">
## Open Machine Learning Course
<center>Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/), Data Scientist @ Mail.Ru Group <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
a=data[data['native-country']=='Germany'].shape[0]
a/data.shape[0]

0.004207487485028101

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
print(data[data['salary']=='>50K']['age'].agg([np.mean,np.std]))
print(data[data['salary']=='<=50K']['age'].agg([np.mean,np.std]))

mean    44.249841
std     10.519028
Name: age, dtype: float64
mean    36.783738
std     14.020088
Name: age, dtype: float64

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
data[data['salary']=='>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th', '10th',
       '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [8]:
data.groupby(['race','sex']).describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                       capital-gain               \
                             75%   max        count         mean
race               sex
Amer-Indian-Eskimo Female  46.00  80.0        119.0   544.605042
                   Male    45.00  82.0        192.0   675.260417
Asian-Pac-Islander Female  43.75  75.0        346.0   778.436416
                   Male    46.00  90.0        693.0  1827.813853
Black              Female  46.00  90.0       1555.0   516.593569
                   Male    46.00  90.0       1569.0   702.454430
Other              Female  39.00  74.0        109.0   254.669725
                   Male    42.00  77.0        162.0  1392.185185
White              Female  46.00  90.0       8642.0   573.610391
                   Male    49.00  90.0      19174.0  1368.674455

                                                                      \
                                    std  min  25%  50%  75%      max
race               sex
Amer-Indian-Eskimo Female   2451.591587  0.0  0.0  0.0  0.0  15024.0
                   Male     2929.745443  0.0  0.0  0.0  0.0  27828.0
Asian-Pac-Islander Female   7675.228631  0.0  0.0  0.0  0.0  99999.0
                   Male    10947.525528  0.0  0.0  0.0  0.0  99999.0
Black              Female   5312.749129  0.0  0.0  0.0  0.0  99999.0
                   Male     4962.113183  0.0  0.0  0.0  0.0  99999.0
Other              Female   1317.326460  0.0  0.0  0.0  0.0   7688.0
                   Male    11093.711595  0.0  0.0  0.0  0.0  99999.0
White              Female   4763.131649  0.0  0.0  0.0  0.0  99999.0
                   Male     8442.830669  0.0  0.0  0.0  0.0  99999.0

                          capital-loss                                         \
                                 count        mean         std  min  25%  50%
race               sex
Amer-Indian-Eskimo Female        119.0   14.462185  157.763811  0.0  0.0  0.0
                   Male          192.0   46.395833  286.562584  0.0  0.0  0.0
Asian-Pac-Islander Female        346.0   50.852601  296.529225  0.0  0.0  0.0
                   Male          693.0  120.373737  472.917697  0.0  0.0  0.0
Black              Female       1555.0   45.450804  299.099591  0.0  0.0  0.0
                   Male         1569.0   75.186106  370.976546  0.0  0.0  0.0
Other              Female        109.0   36.284404  231.796929  0.0  0.0  0.0
                   Male          162.0   77.746914  370.986720  0.0  0.0  0.0
White              Female       8642.0   65.390535  352.330817  0.0  0.0  0.0
                   Male        19174.0  102.261343  434.156936  0.0  0.0  0.0

                                       education-num                       \
                           75%     max         count       mean       std
race               sex
Amer-Indian-Eskimo Female  0.0  1721.0         119.0   9.697479  2.334540
                   Male    0.0  1980.0         192.0   9.072917  2.268587
Asian-Pac-Islander Female  0.0  2258.0         346.0  10.390173  2.796647
                   Male    0.0  2457.0         693.0  11.245310  2.777463
Black              Female  0.0  4356.0        1555.0   9.549839  2.207815
                   Male    0.0  2824.0        1569.0   9.423199  2.382841
Other              Female  0.0  1740.0         109.0   8.899083  3.027482
                   Male    0.0  2179.0         162.0   8.802469  3.361897
White              Female  0.0  4356.0        8642.0  10.127980  2.368115
                   Male    0.0  3770.0       19174.0  10.138521  2.656464

                                                        fnlwgt                 \
                           min  25%   50%   75%   max    count           mean
race               sex
Amer-Indian-Eskimo Female  2.0  9.0  10.0  11.0  16.0    119.0  112950.731092
                   Male    2.0  9.0   9.0  10.0  16.0    192.0  125715.364583
Asian-Pac-Islander Female  1.0  9.0  10.0  13.0  15.0    346.0  147452.075145
                   Male    1.0  9.0  11.0  13.0  16.0    693.0  166175.865801
Black              Female  1.0  9.0   9.0  10.0  16.0   1555.0  212971.387781
                   Male    1.0  9.0   9.0  10.0  16.0   1569.0  242920.644997
Other              Female  2.0  7.0   9.0  10.0  14.0    109.0  172519.642202
                   Male    1.0  8.0   9.0  10.0  16.0    162.0  213679.104938
White              Female  1.0  9.0  10.0  12.0  16.0   8642.0  183549.966906
                   Male    1.0  9.0  10.0  13.0  16.0  19174.0  188987.386148

                                                                        \
                                     std      min        25%       50%
race               sex
Amer-Indian-Eskimo Female   93207.974077  12285.0   31387.00   87950.0
                   Male     85063.251595  13769.0   48197.75  113091.0
Asian-Pac-Islander Female   76401.627757  19914.0   86879.25  131986.0
                   Male     88552.952600  14878.0   98350.00  147719.0
Black              Female  109971.263983  19752.0  142666.50  193553.0
                   Male    134145.970948  21856.0  156410.00  221196.0
Other              Female   77766.666801  24562.0  119890.00  171199.0
                   Male     92187.362738  25610.0  150726.75  208516.5
White              Female  101710.294874  19395.0  115914.75  175810.5
                   Male    103714.598850  18827.0  117381.00  178662.5

                                                hours-per-week             \
                                 75%        max          count       mean
race               sex
Amer-Indian-Eskimo Female  163027.50   445168.0          119.0  36.579832
                   Male    182656.00   356015.0          192.0  42.197917
Asian-Pac-Islander Female  175705.75   379046.0          346.0  37.439306
                   Male    200117.00   506329.0          693.0  41.468975
Black              Female  253759.00   930948.0         1555.0  36.834084
                   Male    298601.00  1268339.0         1569.0  39.997451
Other              Female  219441.00   388741.0          109.0  35.926606
                   Male    253334.75   481175.0          162.0  41.851852
White              Female  224836.50  1484705.0         8642.0  36.296691
                   Male    236858.75  1455435.0        19174.0  42.668822


                                 std  min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female  11.046509  4.0  35.0  40.0  40.0  84.0
                   Male    11.596280  3.0  40.0  40.0  45.0  84.0
Asian-Pac-Islander Female  12.479459  1.0  35.0  40.0  40.0  99.0
                   Male    12.387563  1.0  40.0  40.0  45.0  99.0
Black              Female   9.419960  2.0  35.0  40.0  40.0  99.0
                   Male    10.909413  1.0  40.0  40.0  40.0  99.0
Other              Female  10.300761  6.0  30.0  40.0  40.0  65.0
                   Male    11.084779  5.0  40.0  40.0  40.0  98.0
White              Female  12.190951  1.0  30.0  40.0  40.0  99.0
                   Male    12.194633  1.0  40.0  40.0  50.0  99.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [9]:
data[data['salary']=='>50K']['marital-status'].value_counts()

Married-civ-spouse       6692
Never-married             491
Divorced                  463
Widowed                    85
Separated                  66
Married-spouse-absent      34
Married-AF-spouse          10
Name: marital-status, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [15]:
print("Max hours:",data['hours-per-week'].max())
print("Number of people:",data[data['hours-per-week']==99].shape[0])
print("Percentage:",data[ (data['hours-per-week']==99) & 
                         (data['salary']=='>50K') ].shape[0] /85)

Max hours: 99
Number of people: 85
Percentage: 0.29411764705882354

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [16]:
data.groupby(['native-country','salary'])['hours-per-week'].mean().round(2)

native-country              salary
?                           <=50K     40.16
                            >50K      45.55
Cambodia                    <=50K     41.42
                            >50K      40.00
Canada                      <=50K     37.91
                            >50K      45.64
China                       <=50K     37.38
                            >50K      38.90
Columbia                    <=50K     38.68
                            >50K      50.00
Cuba                        <=50K     37.99
                            >50K      42.44
Dominican-Republic          <=50K     42.34
                            >50K      47.00
Ecuador                     <=50K     38.04
                            >50K      48.75
El-Salvador                 <=50K     36.03
                            >50K      45.00
England                     <=50K     40.48
                            >50K      44.53
France                      <=50K     41.06
                            >50K      50.75
Germany                     <=50K     39.14
                            >50K      44.98
Greece                      <=50K     41.81
                            >50K      50.62
Guatemala                   <=50K     39.36
                            >50K      36.67
Haiti                       <=50K     36.33
                            >50K      42.75
                                      ...
Mexico                      >50K      46.58
Nicaragua                   <=50K     36.09
                            >50K      37.50
Outlying-US(Guam-USVI-etc)  <=50K     41.86
Peru                        <=50K     35.07
                            >50K      40.00
Philippines                 <=50K     38.07
                            >50K      43.03
Poland                      <=50K     38.17
                            >50K      39.00
Portugal                    <=50K     41.94
                            >50K      41.50
Puerto-Rico                 <=50K     38.47
                            >50K      39.42
Scotland                    <=50K     39.44
                            >50K      46.67
South                       <=50K     40.16
                            >50K      51.44
Taiwan                      <=50K     33.77
                            >50K      46.80
Thailand                    <=50K     42.87
                            >50K      58.33
Trinadad&Tobago             <=50K     37.06
                            >50K      40.00
United-States               <=50K     38.80
                            >50K      45.51
Vietnam                     <=50K     37.19
                            >50K      39.20
Yugoslavia                  <=50K     41.60
                            >50K      49.50
Name: hours-per-week, Length: 82, dtype: float64